2016-01-SD-Trabalho-1-Client/src/META-INF/wsdl/localhost_8080/2016-01-SD-Trabalho-1-Web/WebResource.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://resource/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://resource/">

<xs:element name="buscar_usuario" type="tns:buscar_usuario"/>

<xs:element name="buscar_usuarioResponse" type="tns:buscar_usuarioResponse"/>

<xs:element name="comprar_item" type="tns:comprar_item"/>

<xs:element name="comprar_itemResponse" type="tns:comprar_itemResponse"/>

<xs:element name="listar_itens" type="tns:listar_itens"/>

<xs:element name="listar_itensResponse" type="tns:listar_itensResponse"/>

<xs:element name="listar_usuarios" type="tns:listar_usuarios"/>

<xs:element name="listar_usuariosResponse" type="tns:listar_usuariosResponse"/>

<xs:complexType name="buscar_usuario">
<xs:sequence>
<xs:element name="usuario_sistema" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscar_usuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="administrador" type="xs:boolean"/>
<xs:element name="cpf" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="senha" type="xs:string" minOccurs="0"/>
<xs:element name="usuarioSistema" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprar_item">
<xs:sequence>
<xs:element name="id_usuario" type="xs:long"/>
<xs:element name="id_item" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comprar_itemResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar_usuarios">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listar_usuariosResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listar_itens">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listar_itensResponse">
<xs:sequence>
<xs:element name="return" type="tns:item" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="item">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string" minOccurs="0"/>
<xs:element name="valor" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>